.card {
    width: 100%
}

.row {
    margin-top: 15px;
    margin-bottom: 20px;
}

.jumbotron {
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.addEmployee {
    text-align: center;
}

.webcam {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.center {
    text-align: center;
}

.error {
    color: red;
}